[submodule "Code/Toolboxes/export_fig"]
	path = Code/Toolboxes/export_fig
	url = https://github.com/altmany/export_fig.git
[submodule "Code/Toolboxes/ismrmrd"]
	path = Code/Toolboxes/ismrmrd
	url = https://github.com/SkopeMagneticResonanceTechnologies/ismrmrd.git
[submodule "Code/Toolboxes/spm12"]
	path = Code/Toolboxes/spm12
	url = https://github.com/spm/spm12.git
[submodule "Code/Toolboxes/TAPAS"]
	path = Code/Toolboxes/TAPAS
	url = https://github.com/translationalneuromodeling/tapas.git
